* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.confirmation {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 360px;
    text-align: center;
    margin: auto
}

.confirmation p {
    font-size: 20px;
    font-weight: bold;
}

.confirmation button.yes,
.confirmation button.no {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s
}

.confirmation button.yes {
    background-color: red;
}

.confirmation button:hover {
    background-color: white;
    color: blue;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}


form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    margin-right: 5px;
    outline-color: #333
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:first-of-type {
    margin-left: auto
}

button:nth-of-type(2) {
    margin-left: 5px
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center
}

li span {
    font-size: 15px;
    color: #333;
    transition: opacity 0.2s ease-in-out;
    display: inline-block
}

li span:nth-of-type(2) {
    margin: auto
}

li span:hover {
    opacity: 1;
}


li.done {
    background-color: #d9d9d9;
    color: #999;
    text-decoration: line-through;
}

ul p {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#cancelBtn {
    display: none
}

input[type="search"] {
    display: none
}

@media (max-width: 600px) {

    .container {
        min-width: 95%
    }

    h1 {
        font-size: 6vw;
        margin-bottom: 6vw;
    }

    li button {
        font-size: 10px;
        font-weight: bold
    }

    li span:last-of-type {
        font-size: 8px
    }

}
